
/*:hover {
  background:rgba(0, 0, 0, 0.1);
}**/

:root {
  --sinwa_negro: #061A23;
  --sinwa_oscuro: #06373A;
  --sinwa_claro: #1F5F5B;
  --sinwa_acentos: #159947;
  --sinwa_blanco: #FFF;
}
*{
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.section {
  width: 100%;
}

.container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  color: #0c0c0c;
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
}

.section .container {
  padding: 30px 0 50px 0;
}

.section.bg {
  background: #ffffff;
}
/*
  Header
*/

.hold {
  height: 80px;
  background-color: var(--sinwa_oscuro);
}

.header {
  line-height: 80px;
  width: 100%;
  transition: line-height 0.2s linear, box-shadow 0.2s linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--sinwa_oscuro);
  box-shadow: 0px 5px 18px 1px rgba(0,0,0,0.40);
}

.header.small {
  line-height: 50px;
  box-shadow: 0px 5px 18px 1px rgba(0,0,0,0.30);
}

.header.small > .container > #logo {
  height: 40px;
}

#logo {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  float: left;
  margin-left: 5px;
}

.logotext {
  margin: 0;
  color: #F1F1F1;
}

ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.nav li {
  float: left;
  position: relative;
}

ul.nav li a {
  transition: color 0.2s linear;
  font-size: 18px;
}

ul.nav li:hover a::after {
  color: #90A955;
  content: "•";
  position: absolute;
  font-size: 2rem;
  bottom: -25%;
  left: 50%;
  margin-left: -0.125em;
}
li.active a::after {
  color: #90A955;
  content: "•";
  position: absolute;
  font-size: 1.4rem;
  bottom: -25%;
  left: 50%;
  margin-left: -0.125em;
}

ul.nav li a {
  padding: 21px;
  color: #F1F1F1;
  text-decoration: initial;
}


.lenguaje{
  padding-left: 1rem;
}
.lenguaje_item{
  font-size: 0.8rem;
  line-height: 0.1rem;
  color:#F1F1F1;
}
.lenguaje_item_line{
  font-size: 1rem;
  color:#F1F1F1;
}

/*
  Slider
*/

.section .slider {
  background: #31572C;
  background-image: url(/img/hero_img1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50rem;
}

.section .sliderfilter {
  background:  #06373a6c;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50em;
}

.section .footer {
  background: var(--sinwa_oscuro);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slidercontent{
  display: block;
}

.hero_landing {
  align-content: flex-start;
  color: white;
  font-size: 72px;
  font-weight: bold;
  font-style: italic;
}

.hero {
  color: white;
  font-weight: normal;
  letter-spacing: 1px;
}


.landing_footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px -15px 15px 1px rgba(0,0,0,0.40);
}

.hero_footer{
  color: var(--sinwa_oscuro);
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 24px;
  margin: 1% 0% 0% 0%;
}

.hero_caption{
  color: var(--sinwa_oscuro);
  font-weight: lighter;
  text-align: center;
  font-size: 16px;
  margin: 0% 0% 0.5% 0%;
}


@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
.arrow_down_icon{
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

h1.hero:after {
  content: "";
  width: 300px;
  position: relative;
  border-bottom: 1px solid #aaa;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.call {
  color: white;
  display: flex;
  float: right;
  margin-bottom: 20px;
}

.call span {
  display: inline;
  border: 1px solid white;
  padding: 8px 13px;
  font-size: 20px;
  transition: background 0.15s linear;
}

.call span:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
/* 
  Columns 
*/

.col {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}

.col.four {
  width: 23%;
  margin: 0 1%;
}

.col.three {
  width: 31.3%;
  margin: 0 1%;
}

.col.two {
  width: 50%;
  margin: 0;
  padding: 0;
}

.col.extrapad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.col .service,
.col .feature {
  font-size: 21px;
  font-weight: 300;
}

.col .service:after {
  content: "";
  width: 50px;
  position: relative;
  border-bottom: 1px solid #eee;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.col .feature {
  font-size: 62px !important;
  font-weight: bold;
}

.col h1.side,
.col p.side,
.col span.side:first-of-type {
  margin-left: 20px;
  text-align: left;
  font-size: 26px;
  margin-right: 40px;
}

.sidebutton {
  background: var(--sinwa_oscuro);
  color: #FFFFFF;
  font-size: 26px;
  height: 92px;
  width: 350px;
  border: none;
  border-radius: 15px;
  margin-left: 20px;
  padding: 1rem 3.5rem;
  transition: background 0.15s linear;
}

.sidebutton:hover {
  background: #095155;
  cursor: pointer;
}

.person {
  font-size: 5rem;
}
.center {
  display: flex;
  justify-content: center;
}

.side.two {
  font-size: 24px !important; 
}

.logosdiv{
  display: grid;
  grid-template-areas: 'logoc logoc logoc';
  flex-wrap: wrap;
}

.logoc{
  display: block;
  object-fit: scale-down;
  height: auto;
  width: auto;
  max-width: 250px;
  max-height: 200px;
  align-self: center;
  justify-self: center;
  margin-top: 1rem;
}

.col .icon {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  line-height: 85px;
  text-align: center;
  margin: 0 auto;
  transition: background 0.25s linear, color 0.25s linear;
}

.col .icon.side {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -15px;
  height: 50px;
  width: 50px;
}

.col:hover > .icon {
  background: #F44336;
  color: white;
}

.col:hover > .icon.side {
  background: initial;
  color: initial;
}

.responsivegroup {
  display: none;
}
/*
  Column specifics
*/

.col p,
.col h1 {
  padding: 0 1%;
  text-align: center;
}

.group.margin {
  margin-bottom: 20px;
}

.col .imgholder {
  height: 300px;
  width: 100%;
  background: #333;
  transition: background 0.3s linear;
}

.col.bg {
  background: #FFF;
}

.col.pointer {
  cursor: pointer;
}

.col.bg:hover .imgholder {
  background: #555;
}

.col span.feature {
  font-size: 72px;
}
/*
  Text
*/


/*
  ToDo: Ver esto que esta raro
  .container > h1:not(.hero) {
  margin-bottom: 30px;
  text-align: center;
} */

/*Linea que separa los contenedores*/
.container > h1:after {
  content: "";
  width: 30px;
  position: relative;
  border-bottom: 1px solid #aaa;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

/*h2{
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}*/

.left,
.left > h1,
.left > p {
  text-align: left;
}

.reset {
  text-align: left !important;
}

.reset:after {
  display: none !important;
}
/* 
  Slider with Content
*/

.white h1,
.white h2,
.white p,
.white div,
.white a {
  color: #fff;
}
/*
  Responsive
*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media all and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .col.four {
    width: 48%;
    margin: 1%;
  }
  .col.three {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }
  .header {
    height: auto;
    background: #4F772D;
  }
  #logo {
    position: initial;
    float: none;
    display: block;
    transform: none;
    margin: 10px auto 0 auto;
  }
  ul.nav {
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  ul.nav li{
    /*float: initial;**/
    display: inline-block;
  }
  .responsivegroup {
    display: block;
  }
  .responsivegroup:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*@media all and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media all and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media all and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}**/

@media all and (max-width:450px) {
  .col, .col.four, .col.three, .col.two {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }
  .col.extrapad {
    padding: 1%;
    margin-bottom: 10px;
  }
  .group {
    display: none;
  }
}