:root {
  --sinwa_negro: #061a23;
  --sinwa_oscuro: #06373a;
  --sinwa_claro: #1f5f5b;
  --sinwa_acento: #159947;
  --sinwa_blanco: #fff;

  --btn_hover: #095155;

  --body_background: #f7f7f7;
  --card_shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.05);
}

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  background-color: var(--body_background);
}

.section {
  width: 100%;
}

.container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
}

.section .container {
  padding: 30px 0 5px 0;
}

/**
* Texts
*/

.herotitle {
  color: var(--sinwa_blanco);
  font-size: 4rem;
  font-weight: bold;
}

h1 {
  color: var(--sinwa_claro) !important;
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  color: var(--sinwa_claro) !important;
  font-size: 2rem;
  font-weight: bold;
}

p {
  color: var(--sinwa_negro);
  font-size: 1.5rem;
  font-weight: normal;
}

.bold {
  font-weight: bold !important;
}

.claro {
  color: var(--sinwa_blanco) !important;
}
.oscuro {
  color: var(--sinwa_negro) !important;
}

.p_captions {
  color: var(--sinwa_blanco) !important;
  font-weight: lighter;
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}

.footer .container .center p,
.footer .container p {
  margin: 2rem 1.5rem 0;
}

/**
* Header
*/
.hold {
  height: 80px;
  background-color: var(--sinwa_oscuro);
}

.header {
  line-height: 80px;
  width: 100%;
  transition: line-height 0.2s linear, box-shadow 0.2s linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--sinwa_oscuro);
  box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.4);
}

.header.small {
  line-height: 50px;
  box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.3);
}

.header.small > .container > #logo {
  height: 40px;
}

#logo {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  float: left;
  margin-left: 5px;
}

.logotext {
  font-size: 2rem;
  margin: 0;
  color: var(--sinwa_blanco) !important;
}

/*
* navbar
*/
ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.nav li {
  float: left;
  position: relative;
}

ul.nav li a {
  transition: color 0.2s linear;
  font-size: 18px;
}

ul.nav li:hover a::after {
  color: var(--sinwa_acento);
  content: "•";
  position: absolute;
  font-size: 2rem;
  bottom: -25%;
  left: 50%;
  margin-left: -0.125em;
}
li.active a::after {
  color: var(--sinwa_acento);
  content: "•";
  position: absolute;
  font-size: 1.4rem;
  bottom: -25%;
  left: 50%;
  margin-left: -0.125em;
}

ul.nav li a {
  padding: 21px;
  color: var(--sinwa_blanco);
  text-decoration: initial;
}

.lenguaje {
  padding-left: 1rem;
}
.lenguaje_item {
  font-size: 0.8rem;
  line-height: 0.1rem;
  color: var(--sinwa_blanco);
}
.lenguaje_item_line {
  font-size: 1rem;
  color: var(--sinwa_blanco);
}

.lenguaje_item_active {
  font-weight: 700;
  color: var(--sinwa_acento);
}
.menu {
  display: none !important;
}


/* INDEX */

/**
* Slider
*/
.section .slider {
  background-image: url(/img/hero_img1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}

/**
* Filtro del slider
*/
.section .sliderfilter {
  background: #06373a6c;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.section .footer {
  background: var(--sinwa_oscuro);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slidercontent {
  display: block;
}

.hero {
  color: white;
  font-weight: normal;
  letter-spacing: 1px;
}

h1.hero:after {
  content: "";
  width: 300px;
  position: relative;
  border-bottom: 1px solid #aaa;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.call {
  color: white;
  display: flex;
  float: right;
  margin-bottom: 20px;
  margin-top: 20vh;
}

.call span {
  display: inline;
  border: 1px solid white;
  padding: 8px 13px;
  font-size: 20px;
  transition: background 0.15s linear;
}

.call span:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.landing_footer {
  background: var(--sinwa_blanco);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px -15px 15px 3px rgba(0, 0, 0, 0.4);
}

.hero_footer {
  font-style: italic;
  text-align: center;
  margin: 1% 0% 0% 0%;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.arrow_down_icon {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

.bannerfamily {
  background: var(--sinwa_blanco);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 2rem !important;
  padding: 1% 0% !important;
  border-radius: 15px;
  box-shadow: var(--card_shadow);
}

.logofamily {
  display: flex;
  flex-direction: column;
}

.logofam {
  color: var(--sinwa_negro);
  margin: 0%;
}

.logofamsub {
  font-weight: lighter;
  color: var(--sinwa_negro);
  margin: 0%;
}
/* 
  Columns 
*/

.col {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}

.col.four {
  width: 23%;
  margin: 0 1%;
}

.col.two {
  width: 45%;
  margin: 0px 1%;
  padding: 0;
}

.col.three {
  background-color: var(--sinwa_blanco);
  width: 29.1%;
  margin: 0 1% 1rem;
  border-radius: 25px;
  padding: 1%;
  box-shadow: var(--card_shadow);
}

.col.extrapad {
  padding: 0 1.5%;
  box-shadow: var(--card_shadow);
}

.imgholder {
  border-radius: 15px;
  transition: background 0.3s linear;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
}

.nopad .imgholder {
  height: 260px;
  width: 100%;
}

.col .imgholdercaption {
  color: var(--sinwa_negro);
}
.col.bg:hover .imgholder {
  background: #555;
}

.col .service:after {
  content: "";
  width: 50px;
  position: relative;
  border-bottom: 1px solid #eee;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.extrapad {
  background-color: var(--sinwa_blanco);
  border-radius: 15px;
  padding: 1rem;
}

.side {
  margin-inline: 3%;
}

.sidebutton {
  background: var(--sinwa_oscuro);
  color: var(--sinwa_blanco);
  font-size: 26px;
  font-weight: bold;
  height: 92px;
  width: 350px;
  border: none;
  border-radius: 15px;
  padding: 1rem 4rem;
  margin-left: 3%;
  transition: background 0.15s linear;
  text-decoration: none;
}

.sidebutton:hover {
  background: var(--btn_hover);
  cursor: pointer;
}

.sidebutton:active {
  background: var(--sinwa_acento);
}

.person {
  color: var(--sinwa_oscuro);
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.center {
  display: flex;
  justify-content: center;
}

.logosdiv {
  display: grid;
  grid-template-areas: "logoc logoc logoc";
  flex-wrap: wrap;
}

.logoc {
  display: block;
  object-fit: scale-down;
  height: auto;
  width: auto;
  max-width: 250px;
  max-height: 210px;
  align-self: center;
  justify-self: center;
  padding: 1rem;
}

.col .icon {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  line-height: 85px;
  text-align: center;
  margin: 0 auto;
  transition: background 0.25s linear, color 0.25s linear;
}

.col .icon.side {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -15px;
  height: 50px;
  width: 50px;
}

.col:hover > .icon {
  background: #f44336;
  color: white;
}

.col:hover > .icon.side {
  background: initial;
  color: initial;
}

.responsivegroup {
  display: none;
}

.logof {
  color: var(--sinwa_blanco);
  font-size: 4rem;
  margin: 0 1rem;
  padding: 0.5rem;
  background-color: var(--sinwa_oscuro);
  transition: background 0.3s linear;
  border-radius: 15px;
}

.logof:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.082);
}

.transparent {
  opacity: 50%;
}

.servicesbg {
  background: var(--sinwa_blanco);
  background-image: url(/img/services_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.servicesbgfilter {
  display: block;
  background: #ffffff94;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.services_card {
  margin-top: 5rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--sinwa_claro);
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  margin: 1rem;
  height: 50vh;
}
.card_center {
  height: 58vh;
}

.text_card {
  text-align: center;
  color: var(--sinwa_blanco) !important;
}

.button_container {
  background: var(--sinwa_claro);
  color: var(--sinwa_blanco);
  font-weight: bold;
  border: none;
  border-radius: 15px;
  padding: 1.2rem 0rem;
  display: flex;
  justify-content: center;
  transition: background 0.15s linear;
  margin: 0% 39% 4% 37%;
}

.button_container:hover {
  background: var(--btn_hover);
  cursor: pointer;
}

.button_container:active {
  background: var(--sinwa_acento);
}

/*Linea que separa los contenedores*/
.container > h1:after {
  content: "";
  width: 30px;
  position: relative;
  border-bottom: 1px solid #aaa;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
/* END INDEX*/

/* ABOUT US*/
.section .about_slider {
  background-image: url(/img/services_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}

/**
* Filtro del slider
*/
.section .about_sliderfilter {
  background: rgb(31,95,91);
  background: linear-gradient(90deg, rgba(31,95,91,0.8) 40%, rgba(31,95,91,0.40) 75%, rgba(31,95,91,0) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75vh;
}

.section .about_herotitle{
  margin-bottom: 0%;
}

.section .about_herosubtitle{
  margin-top: 0%;
}

.col.two.history_left{
  width: 65%;
  margin: 0px 1%;
  padding: 0;
}

.col.two.history_right{
  width: 25%;
  margin: 0px 1%;
  padding: 0;
}

/*  END ABOUT US*/

/** 
*Responsive
* Escritorio Medio 1600x900
*/
@media all and (max-width: 1600px) {
  .container {
    width: 1170px;
  }

  ul.nav li a {
    transition: color 0.2s linear;
    font-size: 14px;
  }

  .herotitle {
    font-size: 3.5rem;
    color: var(--sinwa_blanco) !important;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.1rem;
  }

  .p_captions {
    font-size: 0.9rem;
  }

  .section .slider {
    height: 75vh;
  }

  .section .sliderfilter {
    height: 75vh;
  }

  .col.extrapad {
    padding: 0 1%;
    margin: 1%;
  }

  .col.two {
    width: 46%;
  }

  .sidebutton {
    font-size: 1.1rem;
    height: 72px;
    width: 200px;
    padding: 1rem 3rem;
  }

  .logoc {
    max-width: 150px;
    max-height: 120px;
    padding: 0.7rem;
  }

  .logof {
    background-color: var(--sinwa_oscuro);
    font-size: 2.5rem;
    margin: 0 0.5rem;
    padding: 0.5rem;
  }
} /** end responsive*/

/** 
*Responsive
* Tablet 768x1280
*/
@media all and (max-width: 768px) {
  .container {
    width: 85%;
    padding: 10px 0 5px 0px !important;
  }

  .logotext {
    font-size: 1rem;
  }

  ul.nav li a {
    transition: color 0.2s linear;
    font-size: 10px;
    padding: 15px;
  }

  .lenguaje_item {
    font-size: 0.6rem;
  }

  .slidercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .herotitle {
    text-align: center;
    padding-top: 2vh;
    font-size: 3rem;
  }

  .call {
    margin-top: 20vh;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  p {
    font-size: 1rem;
  }

  .p_captions {
    font-size: 0.8rem;
  }

  .section .slider {
    height: 75vh;
  }

  .section .sliderfilter {
    height: 75vh;
  }

  .col.extrapad {
    padding: 0 1%;
    margin: 1%;
  }

  .col.two {
    width: 46%;
  }

  .sidebutton {
    font-size: 1rem;
    height: 72px;
    width: 200px;
    padding: 1rem 2rem;
  }

  .logosdiv {
    margin: 5% 0%;
  }

  .logoc {
    max-width: 80px;
    max-height: 80px;
    padding: 0% !important;
  }

  /*Galery_index*/
  .nopad .imgholder {
    height: 140px;
    width: 100%;
  }

  /*Services_index*/
  .services_container {
    height: 55vh;
  }

  .services_card {
    height: 40vh;
    padding: 0.5rem !important;
    margin: 0rem 0.2rem !important;
  }

  .card_center {
    height: 48vh;
  }

  .button_container {
    padding: 0.8rem 0rem;
    margin: 0% 29% 4% 27%;
  }

  /*Footer_index*/
  .logof {
    background-color: var(--sinwa_oscuro);
    font-size: 2rem;
    margin: 0 0.5rem;
    padding: 0.5rem;
  }

  .footer .container .center p,
  .footer .container p {
    margin: 1rem 1.5rem 0;
  }
} /** end responsive  Tablet 768x1280*/

/** 
*Responsive
* Telefono 425x740
*/
@media all and (max-width: 425px) {
  .container {
    width: 95%;
    padding: 10px 0 5px 0px !important;
  }

  .menu {
    float: right;
    display: block !important;
    padding-top: 10% !important;
  }

  .logotext {
    font-size: 1rem;
  }

  ul.nav li a {
    display: none;
    transition: color 0.2s linear;
    font-size: 10px;
    padding: 15px;
  }

  .lenguaje {
    padding-right: 1rem;
  }
  .lenguaje_item {
    font-size: 0.6rem;
  }

  .slidercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .herotitle {
    text-align: center;
    padding-top: 10vh;
    font-size: 2rem;
  }

  .call {
    margin-top: 20vh;
  }

  h1 {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.9rem;
  }

  .p_captions {
    font-size: 0.8rem;
  }

  .section .slider {
    height: 75vh;
  }

  .section .sliderfilter {
    height: 75vh;
  }

  .col.extrapad {
    padding: 0 1%;
    margin: 1%;
  }

  .col.two {
    width: 96%;
  }

  .logofam {
    width: 15%;
  }
  .logofamsub {
    text-align: center;
    font-size: 0.6rem;
  }
  .sidebutton {
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
  }

  .logosdiv {
    margin: 5% 0%;
  }

  .logoc {
    max-width: 90px;
    max-height: 90px;
    padding: 0% !important;
  }

  /*Galery_index*/
  .col.three {
    width: 44%;
    border-radius: 5%;
    padding: 2%;
  }
  .nopad .imgholder {
    height: 110px;
    width: 100%;
  }

  /*Services_index*/
  .services_container {
    height: 55vh;
    flex-direction: column;
    height: 80vh;
  }

  .services_card {
    height: 40vh;
    padding: 0.5rem !important;
    margin: 0.5rem 0.2rem !important;
  }

  .button_container {
    padding: 0.8rem 0rem;
    margin: 0% 20% 4% 20%;
  }

  /*Footer_index*/
  .logof {
    background-color: var(--sinwa_oscuro);
    font-size: 2rem;
    margin: 0 0.5rem;
    padding: 0.5rem;
  }

  .footer .container .center p,
  .footer .container p {
    margin: 1rem 1.5rem 0;
  }
} /** end responsive*/

/** 
*Responsive
* Telefono 370x740
*/
@media all and (max-width: 370px) {
  .container {
    width: 90%;
  }

  .slidercontent {
    display: flex;
    flex-direction: column;
  }

  .herotitle {
    text-align: center;
    padding-top: 7vh;
    font-size: 2rem;
  }

  .call {
    margin-top: 12vh;
  }

  .button_container {
    padding: 0.8rem 0rem;
    margin: 0% 15% 4% 15%;
  }

  a {
    font-size: 0.7rem;
  }
} /** end responsibe telefono 370*/
